#navWrapper {
    /*transform: translate(-250px, 0);*/
    display: none;
}

#mobileMenu {
    display: block;
    position: relative;
    z-index: 1;
}

    #mobileMenu span {
        display: inline-block;
    }

#mobileMenu object {
    /*pointer-events: none;*/ /* Doesn't work on IE 10 or below */
    position: relative;
    z-index: -1;
}

.no-svg .menuSvg {
  width: 200px;
  height: 164px;
  background-image: url(../images/14090433473_reddit.png);
}

footer {
    background: #b05ab4;
    padding: 15% 20%;
    text-align: center;
}