@{
    ViewBag.Title = "Credits";
}
@section featured {
    <header>
        <h1>@ViewBag.Title.</h1>
        <h1><span>@ViewBag.Message</span></h1>
    </header>
    <div class="main clearfix">
        <div class="column">
            <p>CoDrops for menu effect</p>
            <p>Font Awesome for icons</p>
            <p>MailGun for email solution</p>
        </div>
        <div class="column">
            <p>classie?</p>
            <p>modernizr?</p>
        </div>
    </div>
}