@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <header>
        <h1>A Website<span>of things <i class="fa fa-code"></i></span></h1>
    </header>

    <div class="main clearfix">
        <div class="column">
            <p>Welcome to my site!</p>
            <p>WiP with placeholder content.</p>
            <a href="https://paypal.com">
                <i class="fa fa-usd fa-5x"></i>
                <i class="fa fa-jpy fa-5x"></i>
                <i class="fa fa-eur fa-5x"></i>
                <i class="fa fa-inr fa-5x"></i>
                <i class="fa fa-gbp fa-5x"></i>
            </a>
        </div>

        <div class="column">
            <p>What is it about?</p>
            <p>Um...errr...error, error.</p>
            <a href="https://www.youtube.com/watch?v=BROWqjuTM0g"><i class="fa fa-cloud-upload fa-5x"></i>&nbsp; Put everything in the cloud today!</a>
        </div>


    </div>
}
<div class="info">
    <p>Thanks for Visiting.</p>
    <p><a href="@Url.Action("Credits", "Home")"><i class="fa fa-list-alt"></i>&nbsp; Credits</a></p>
</div>
