@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <header>
        <h1>Tiny Classified Ads <i class="fa fa-newspaper-o"></i><span>It's complex</span></h1>
    </header>

    <div class="main clearfix">
        <div class="column">
            <p>The ads themselves</p>
            <p>generate revenue.</p>
            <a href="https://paypal.com">
                <i class="fa fa-usd fa-5x"></i>
                <i class="fa fa-jpy fa-5x"></i>
                <i class="fa fa-eur fa-5x"></i>
                <i class="fa fa-inr fa-5x"></i>
                <i class="fa fa-gbp fa-5x"></i>
            </a>
        </div>

        <div class="column">
            <p>Tiny classified ads for what?</p>
            <p>It's complex and fairly profitable.</p>
            <a href="https://www.youtube.com/watch?v=BROWqjuTM0g"><i class="fa fa-cloud-upload fa-5x"></i>&nbsp; Put your tiny classified ads in the cloud!</a>
        </div>


    </div>
}
<div class="info">
    <p>Thanks for Visiting.</p>
    <p><a href="@Url.Action("Credits", "Home")"><i class="fa fa-list-alt"></i>&nbsp; Credits</a></p>
</div>
