@section featured {
    <header>
        <h1>@ViewBag.Title.</h1>
        <h1><span>This is a work in progress ASP.NET MVC project that will eventually have content and, you know, be based on an actual idea.</span></h1>
    </header>
}
