@{
    ViewBag.Title = "Recommended";
}
@section featured {
    <header>
        <h1>@ViewBag.Message</h1>
    </header>

    <div class="main clearfix">
        <div class="column smaller">
            <p><a href="https://www.youtube.com/watch?v=5Krz-dyD-UQ">Game of Thrones - A Bad Lip Reading</a></p>
            <p><a href="https://www.youtube.com/watch?v=sN6ZgBJOTO4">South Park - Butters Beautiful Sadness</a></p>
        </div>
        <div class="column smaller">
            <p><a href="https://www.youtube.com/watch?v=6FMNFvKEy4c">The Greatest Speech, Charlie Chaplin from The Dictator</a></p>
            <p class="indent"><i class="fa fa-angle-right"></i><a href="https://www.youtube.com/watch?v=-djdanafuPE"> Apostate version</a></p>
            <p class="indent"><i class="fa fa-angle-right"></i><a href="https://www.youtube.com/watch?v=WibmcsEGLKo"> Modern imagery version.</a></p>
        </div>
    </div>
}