@{
    ViewBag.Title = "Recommended";
}
@section featured {
    <header>
        <h1>@ViewBag.Title</h1>
        <h2>Videos</h2>
    </header>

    <div class="main clearfix">
        <div class="column smaller">
            <p><a href="https://www.youtube.com/watch?v=5Krz-dyD-UQ">Game of Thrones - A Bad Lip Reading</a></p>
            <p><a href="https://www.youtube.com/watch?v=sN6ZgBJOTO4">South Park - Butters Beautiful Sadness</a></p>
        </div>
        <div class="column smaller">
            <p><a href="https://www.youtube.com/watch?v=6FMNFvKEy4c">Charlie Chaplin's Speech from The Dictator</a></p>
            <p class="subLink">&nbsp;<i class="fa fa-angle-right"></i><a href="https://www.youtube.com/watch?v=-djdanafuPE"> Apostate(Band) version</a></p>
            <p class="subLink">&nbsp;<i class="fa fa-angle-right"></i><a href="https://www.youtube.com/watch?v=WibmcsEGLKo"> Modern imagery version</a></p>
        </div>
    </div>

    <div id="grid">
        <div class="draggable">
            <p>Title<span class="fa fa-arrows"></span></p>
            <ul class="sortable">
                <li>something</li>
                <li>something 2</li>
            </ul>
        </div>

        <div class="draggable">
            <p>Bucket List<span class="fa fa-arrows"></span></p>
            <ul class="sortable">
                <li>Sky dive</li>
                <li>Eat more bacon</li>
                <li>Travel to each continent</li>
            </ul>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryui");
    <script>
        $(function () {
            $(document).keypress(function (event) {
                if (event.which == 48) {
                    alert('cookies enabled?: ' + window.navigator.cookieEnabled);
                }
            });

            $(".draggable").draggable({ grid: [20, 20], containment: "#grid", handle: "span" });
            $(".sortable").sortable({ revert: true });
            //$("div, p").disableSelection();
        });
    </script>
}