@{
    ViewBag.Title = "TODO";
}
@section featured {
    <header>
        <h1>@ViewBag.Title</h1>
    </header>

    <div class="main clearfix">
            <ul>
                <li>Decide on color palette. Gather css colors for easy reference.</li>
                <li>Check responsiveness. Check for bugs across browsers. Give up on any IE browser earlier than IE10.</li>
                <li>Fix font size change from switch to appharbor.</li>
                <li>FORM: Add js fallback for clientside validation. Validate telly?</li>
                <li>FORM: Success view.</li>
                <li>Fix menu animation flicker on mobile(chrome). Fix top bar behavior on menu animation on mobile.</li>
                <li>CLEAN UP!</li>
                <li>Clean up sidebar js.</li>
                <li>Search bar functionality.</li>
                <li>credits.</li>
                <li>Add logging?</li>
                <li>figure out how to add link ID during bundling?</li>
                <li>Google analytics</li>
                <li>Pagespeed Insights</li>
                <li>Mess with Recommended jQuery stuff</li>
                <li>Hook up to some sort of API/ Diversify Portfolio.</li>
                <li>Work on tests.</li>
            </ul>
    </div>
}