@{
    ViewBag.Title = "TODO";
}
@section featured {
    <header>
        <h1>@ViewBag.Message</h1>
    </header>

    <div class="main clearfix">
            <ul>
                <li>Find MVC provider for hosting.</li>
                <li>Sample form send to email.</li>
                <li>Decide on color palette. Gather css colors for easy reference.</li>
                <li>light theme/dark theme?</li>
                <li>Mobile landscape css? Check responsiveness.</li>
                <li>Content.</li>
                <li>Menu title click also closes menu, or add X Icon.</li>
                <li>Fix menu animation flicker on mobile.</li>
                <li>Clean up css. Separate externals for media queries.</li>
                <li>Clean up sidebar js.</li>
                <li>Search bar functionality.</li>
                <li>credits.</li>
                <li>Fix form scroll or not?</li>
                <li>Google analytics</li>
                <li>Pagespeed Insights</li>
                <li>Hook up to some sort of API/ Diversify Portfolio.</li>
            </ul>
    </div>
}